*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    display:flex;
    transition:transform 1s;
    background-image: url(macBackground.jpeg);
    z-index:-1;;
    
}





/* Create vs code */
.firstContainer {
    background-color:white;
}
.vsCodeBody {
    display:flex;
    transition:transform 1s;
    position:absolute;
    z-index:1000;
    
}
.vsCodeGrow {
    transform: scale(0.1);
    transition:transform 1s;
}
/* .removeFromBody {
    transform:scale(0.2);
    transition:transform 1s;
} */
.textBox {
    width:70vw;
    height:2rem;
    border:2px solid rgba(130, 127, 127, 0.7);
    margin-left:5rem;
    margin-top:1rem;
    position:relative;
    margin-right:2rem;

}
.textBox::before {
    content:"1";
    position:absolute;
    color:#2d2c33;
    left:-2.5rem;
    font-weight:500;
    font-size:large;
}
.pageName {
    margin-left:2rem;
    padding-top:0.5em;
    height:max-content;
    display:flex;
}




#blue {
    color:blue;
    font-weight: 500;
}
aside.blackAside {
    width:5vw;
    background-color: black;
    border:2px solid black;
    height:100vh;
}

.tabWrapper {
    display:flex;
    height:5vh;
    background-color:#e4e6e8;
    

}
.htmlTab,
.cssTab,
.jsTab {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
#rotate {
    cursor:pointer;
}
.goBlue {
    background-color:rgba(107, 107, 214, 0.295);
    
}
.rotateArrow {
    rotate:270deg;
}
.filesDissapear {
    visibility: hidden;
}
.addToTab {
    
    background-color:white;
}

.tabWrapper div {
    
    height:100%;
    align-items: center;
    justify-content: center;
    display:flex;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;
}
#yellow {
    color:rgb(183, 183, 28);
}
#orange {
    color:orange
}
.grayAside h5 {
    font-size:1rem;
    font-weight:200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.grayAsideTop {
    padding-right:1rem;
}
.grayAside {
    width:20vw;
    height:100vh;
    background-color:#f3f3f3;
    color:black;
    display:flex;
    flex-direction: column;
    padding-top:1em;
    gap:1rem;
}
#file {
    width:35px;
    opacity:0.75;
}
#split {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.rightSide {
    display:flex;
    align-items: center;
    gap:1em;
    padding-right:1rem;
}
#secondFile {
    width:12px;
}
.blackAside {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    padding-top: 2.5rem;
}
.grayAside ul {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: flex-start;
    list-style: none;
}
.highlight {
    background-color:rgba(107, 107, 214, 0.295);
    width:100%;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:1rem;
}
#noHighlight {
    padding-left:1rem;
}
#orange,
#blue,
#yellow {
    margin-right:0.5em;
}
#blue {
    margin-right:1em;
    
}

.grayAsideTop {
    display:flex;
    justify-content: space-between;
    padding-left:2rem;
}
#rotate {
    width:1.15rem;
    margin-left:0.75em;
}
.grayAsideTop p {
    font-size:0.75em;
}
header {
    display:flex;
    background-color:#e4e6e8;
    justify-content: space-between;
    align-items: center;
    padding-right:2rem;
    
}
#noHighlight:hover {
    cursor:pointer;
}
#highlight:hover {
    cursor:pointer;
}
/* End vs code/*








/* Vs code text Animation */

.textBox {
    display:flex;
    align-items: center;
    border:none;
    gap:1em;
    position:relative;
    font-size:1.5rem;
    width:32vw;
}
.firstContainer {
    width:100vw;
}
.pink {
    color:#bd41a9;
}
.blue {
    color:#4949ba;
}
.darkRed {
    color:#d14847;
}
.textBox::before,
.textBox::after {
    content: "";
    inset:0;
    position:absolute;
    z-index: 1000;
    background-color:white;
}
.textBox::before {
    background-color:white;
    animation: typewriter 5s steps(49) 1s forwards;
    animation-delay:5s;
}
.textBox::after {
    width: 0.125em;
    background-color:black;
    animation: typewriter 5s steps(49) 1s forwards, blink 1000ms steps(49) infinite;
    animation-delay:5s;
}

/* End vs code text animation */









/* Terminal */

.terminalMain {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(35, 34, 34);
    background-image: url(macBackground.jpeg);
    background-size:cover;
    z-index:10000;
    position:absolute;
}
.terminalBody {
    width:50vw;
    height:50vh;
    background-color: white;
    border-radius: 1em;
}
.terminalHeader {
    width:100%;
    border:1px solid rgb(179, 176, 176);
    background-color:rgb(179, 176, 176);
    border-radius: 1em 1em 0 0;
    height:5%;
    color:rgb(93, 91, 91);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.terminalButtons {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:20%;
    gap:0.75em;
    padding:1em;
}
.terminalButton {
    border-radius: 100%;
    height:1.15em;
    width:1.15em;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    
}
.terminalBashMessage {
    width:60%;
    display:flex;
    align-items: center;
    gap:0.5em;
    
}
#terminalIcon {
    width:20px;
}
.red {
    background-color:red;
    cursor:pointer;
}
.yellow {
    background-color:yellow;
    cursor:pointer;
}
.green {
    background-color:green;
    cursor:pointer;
}
#terminalText {
    display:flex;
    flex-direction: column;
    gap:0.3rem;
    padding-left:0.5em;
    
    padding-top:0.25rem;
    
}
.terminalLineTwo {
    padding-right:0.5rem;
}
.terminalTypeLine {
    display:flex;
}
.terminalTypeText {
    position:relative;
}
.terminalTypeText::before,
.terminalTypeText::after {
    content: "";
    inset:0;
    position:absolute;
    z-index: 1000;
    background-color:white;
}
.terminalTypeText::before {
    background-color:white;
    animation: typewriter 2s steps(6) 1s forwards;
    animation-delay:1s;
}
.terminalTypeText::after {
    width: 0.125em;
    background-color:black;
    animation: typewriter 2s steps(6) 1s forwards, blink 700ms steps(6) infinite;
}
@keyframes typewriter {
    to { 
        left: 100%; }
}
@keyframes blink {
    to {
        background-color:transparent;
    }
}

/* End Terminal */

/* Portfolio Body */

.mainPortfolioBody {
    width:100vw;
    height:100vh;
    background-color:black;
    z-index: 10000000;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:5rem;
    display:none;
    animation: grow-in 1s forwards;
    transform:scale(0.2)
}
@keyframes grow-in {
    to {
        transform:scale(1)
    }
}