*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    display:flex;
    transition:transform 1s;
    background-image: url(macBackground.jpeg);
    background-size:100vw 100vh; 
    background-repeat: no-repeat;
    z-index:-1;
    overflow-x: hidden;
    
}





/**************** 
Create vs code 
*****************
****************/
.firstContainer__vs-code {
    background-color:white;
}
.vsCodeBody {
    display:flex;
    transition:transform 1s;
    position:absolute;
    z-index:1000;
    
}
.vsCodeGrow {
    transform: scale(0.1);
    transition:transform 1s;
}
/* .removeFromBody {
    transform:scale(0.2);
    transition:transform 1s;
} */
.vs-code__text-box {
    width:70vw;
    height:2rem;
    border:2px solid rgba(130, 127, 127, 0.7);
    margin-left:5rem;
    margin-top:1rem;
    position:relative;
    margin-right:2rem;

}
.vs-code__text-box::before {
    content:"1";
    position:absolute;
    color:#2d2c33;
    left:-2.5rem;
    font-weight:500;
    font-size:large;
}
.vs-code__page-name {
    margin-left:2rem;
    padding-top:0.5em;
    height:max-content;
    display:flex;
}




#blue {
    color:blue;
    font-weight: 500;
}
aside.vs-code__black-aside {
    width:5vw;
    background-color: black;
    border:2px solid black;
    height:100vh;
}

.vs-code__tab-wrapper {
    display:flex;
    height:5vh;
    background-color:#e4e6e8;
    

}
.htmlTab,
.cssTab,
.jsTab {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
#rotate {
    cursor:pointer;
}
.goBlue {
    background-color:rgba(107, 107, 214, 0.295);
    
}
.rotateArrow {
    rotate:270deg;
}
.filesDissapear {
    visibility: hidden;
}
.addToTab {
    
    background-color:white;
}

.vs-code__tab-wrapper div {
    
    height:100%;
    align-items: center;
    justify-content: center;
    display:flex;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;
}
#yellow {
    color:rgb(183, 183, 28);
}
#orange {
    color:orange
}
.vs-code__gray-aside h5 {
    font-size:1rem;
    font-weight:200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.vs-code__gray-aside-top {
    padding-right:1rem;
}
.vs-code__gray-aside {
    width:20vw;
    height:100vh;
    background-color:#f3f3f3;
    color:black;
    display:flex;
    flex-direction: column;
    padding-top:1em;
    gap:1rem;
}
#vs-code__file-icons {
    width:35px;
    opacity:0.75;
}
#vs-code__split {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.vs-code__right {
    display:flex;
    align-items: center;
    gap:1em;
    padding-right:1rem;
}
#vs-code__second-file {
    width:12px;
}
.vs-code__black-aside {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    padding-top: 2.5rem;
}
.vs-code__gray-aside ul {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: flex-start;
    list-style: none;
}
.highlight {
    background-color:rgba(107, 107, 214, 0.295);
    width:100%;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:1rem;
}
#vs-code__no-highlight {
    padding-left:1rem;
}
#orange,
#blue,
#yellow {
    margin-right:0.5em;
}
#blue {
    margin-right:1em;
    
}

.vs-code__gray-aside-top {
    display:flex;
    justify-content: space-between;
    padding-left:2rem;
}
#rotate {
    width:1.15rem;
    margin-left:0.75em;
}
.vs-code__gray-aside-top p {
    font-size:0.75em;
}
#vs-code__header {
    display:flex;
    background-color:#e4e6e8;
    justify-content: space-between;
    align-items: center;
    padding-right:2rem;
    
}
#vs-code__no-highlight:hover {
    cursor:pointer;
}
#highlight:hover {
    cursor:pointer;
}
/* End vs code/*








/* Vs code text Animation 
**************************/

.vs-code__text-box {
    display:flex;
    align-items: center;
    border:none;
    gap:1em;
    position:relative;
    font-size:1.2rem;
    width:35vw;
}
.vsCodeText.pink {
    width:max-content;
}
.firstContainer__vs-code {
    width:100vw;
}
.pink {
    color:#bd41a9;
}
.blue {
    color:#4949ba;
}
.darkRed {
    color:#d14847;
}
.vs-code__text-box::before,
.vs-code__text-box::after {
    content: "";
    inset:0;
    position:absolute;
    z-index: 1000;
    background-color:white;
}
.vs-code__text-box::before {
    background-color:white;
    animation: typewriter 5s steps(49) 1s forwards;
    animation-delay:5s;
}
.vs-code__text-box::after {
    width: 0.125em;
    background-color:black;
    animation: typewriter 5s steps(49) 1s forwards, blink 1000ms steps(49) infinite;
    animation-delay:5s;
}
/*******************************
********************************
/* End vs code text animation */









/* Terminal 
***********
************/

.terminalMain {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(35, 34, 34);
    background-image: url(macBackground.jpeg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    z-index:10000;
    position:absolute;
}
.terminalBody {
    width:50vw;
    height:50vh;
    background-color: white;
    border-radius: 1em;
}
.terminalHeader {
    width:100%;
    border:1px solid rgb(179, 176, 176);
    background-color:rgb(179, 176, 176);
    border-radius: 1em 1em 0 0;
    height:5%;
    color:rgb(93, 91, 91);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.terminalButtons {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:20%;
    gap:0.75em;
    padding:1em;
}
.terminalButton {
    border-radius: 100%;
    height:1.15em;
    width:1.15em;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    
}
.terminalBashMessage {
    width:60%;
    display:flex;
    align-items: center;
    gap:0.5em;
    
}
#terminalIcon {
    width:20px;
}
.red {
    background-color:red;
    cursor:pointer;
}
.yellow {
    background-color:yellow;
    cursor:pointer;
}
.green {
    background-color:green;
    cursor:pointer;
}
#terminalText {
    display:flex;
    flex-direction: column;
    gap:0.3rem;
    padding-left:0.5em;
    
    padding-top:0.25rem;
    
}
.terminalLineTwo {
    padding-right:0.5rem;
}
.terminalTypeLine {
    display:flex;
}
.terminalTypeText {
    position:relative;
}
.terminalTypeText::before,
.terminalTypeText::after {
    content: "";
    inset:0;
    position:absolute;
    z-index: 1000;
    background-color:white;
}
.terminalTypeText::before {
    background-color:white;
    animation: typewriter 2s steps(6) 1s forwards;
    animation-delay:1s;
}
.terminalTypeText::after {
    width: 0.125em;
    background-color:black;
    animation: typewriter 2s steps(6) 1s forwards, blink 700ms steps(6) infinite;
}

/* Terminal Keyframes*/
@keyframes typewriter {
    to { 
        left: 100%; }
}
@keyframes blink {
    to {
        background-color:transparent;
    }
}


/*****************
/* End Terminal */



/* Portfolio Body 
******************/

.mainPortfolioBody {
    width:100vw;
    height:100vh;
    background-color:black;
    z-index: 10000000;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none;
    animation: grow-in 1s forwards;
    transform:scale(0.2);
    gap:1rem;
}
.mainPortfolioBody h1 {
    font-size:7rem;
}
.mainPortfolioBody h2 {
    font-size:2.5rem;
}
.mainPortfolioBody {
    height:100vh;
    width:100vw;
}

@keyframes grow-in {
    to {
        transform:scale(1)
    }
}

/* *********
************
************
************/







/*******
Copy past in obit
/*****/
.orbit__li > img {
    width:100px;
}
.orbit__main-container {
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;
    background-color:black;
    grid-template-columns: 1fr 1fr;
}
.orbit__center-image {
    position:relative;
    width:10rem;
    
}
.orbit__center-image > img {
    border-radius:1.5rem;
    width:inherit;
    position:absolute;
}
#orbit__ul,
.top-nav__ul {
    position:relative;
    list-style:none;
    display:grid;
    place-items:center;
    width:10rem;
    height:7.5rem;
    
    
}


.orbit__li:hover ul:hover {
    animation-play-state: paused;
}

.orbit__li {
    position:absolute;
    height:120px;
    width:120px;
    border-radius:100%;
    display:grid;
    place-items: center;
    background-color:gray;
    
}
#orbit__ul > li > p {
    position:absolute;
    animation: reverse-orbit 30s linear infinite;

    transform-origin: center;
    animation-duration: infinite;
    color:white;
    font-size:1.4rem;
    background-color:gray;
    height:100%;
    width:100%;
    border-radius:100%;
    opacity:0;
    display:grid;
    place-items:center;
}



#orbit__ul:hover .orbit__li p {
    animation-play-state: paused;
}







li:nth-child(2) > img {
    width:75px;
}



.orbit__list:hover {
    cursor:pointer;
    animation-play-state: paused;
}

#orbit__ul:hover {
    animation-play-state: paused;

}
ul:hover li img {
    animation-play-state: paused;
}


#firstList {
    animation:li-one 1s forwards;
    animation-delay:0s;
    transform-origin: center;
}
#secondList {
    animation:li-two 1s forwards;
    animation-delay:500ms;
    transform-origin: center;
}
#thirdList {
    animation:li-three 1s forwards;
    animation-delay:1000ms;
    transform-origin: center;
}
#fourthList {
    animation:li-four 1s forwards;
    animation-delay:1500ms;
    transform-origin: center;
}
#fifthList {
    animation:li-five 1s forwards;
    animation-delay:2000ms;
    transform-origin: center;
}
#sixthList {
    
    animation:li-six 1s forwards;
    animation-delay:2500ms;
    transform-origin: center;
}
li:nth-child(7) {
    
    animation:li-seven 1s forwards;
    animation-delay:3000ms;
    transform-origin: center;
}
li:nth-child(8) {
    
    animation:li-eight 1s forwards;
    animation-delay:3500ms;
    transform-origin: center;
}

.orbit__li {
    transition: transform 0.5s;
}

.orbit__li > img {
    animation: reverse-orbit 30s linear infinite;
    transform-origin: center;
    animation-duration: infinite;
}

#orbit__ul {
    
    transform-origin: center;
      
}
#orbit__ul {
    animation: orbit 30s linear infinite;
}










@keyframes orbit {
    100% {
        rotate:1turn;
    }
}
@keyframes reverse-orbit {
    100% {
        rotate:-1turn;
    }
}





/****
*****
*****
*****/







.scroll h1,
.scroll h3,
.scroll h5 {
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.scroll h5 {
    font-size:1.25rem;
    
}
.scroll h1 {
    font-size:5.5rem;
    letter-spacing:0.25rem;
}
.scroll h3 {
    font-size:2rem;
    color:rgb(177, 177, 182);
}
.scroll p{
    color:white;
    font-size:20rem;
}
@keyframes li-one {
    to {
        transform:translate(15rem, 0rem);
    }
}
@keyframes li-two {
    to {
        transform: translate(11rem, 11rem);
    }
}
@keyframes li-three {
    to {
        transform:translate(0rem, 15rem);
    }
}
@keyframes li-four {
    to {
        transform:translate(-11rem, 11rem);
    }
}
@keyframes li-five {
    to {
        transform:translate(-15rem, 0rem);
    }
}
@keyframes li-six {
    to {
        transform:translate(-11rem, -11rem);
    }
}
@keyframes li-seven {
    to {
        transform:translate(0rem, -15rem);
    }
}
@keyframes li-eight {
    to {
        transform:translate(11rem, -11rem);
    }
}

/*****
******
******/


.orbit__left-side {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    font-size:3rem;
    padding:2rem;
    justify-content: space-evenly;
    align-items: flex-start;
}

.orbit__left-side > h2,
.orbit__left-side > h4
{
    color:white;

}

.orbit__left-side h4 {
    font-size:2rem;
}
.scroll h6 {
    color:white;
    font-size:2rem;
    font-weight:300;
}

.orbit__left-side > img {
    width:80%;
    height:50%;
    transform:rotateX(90deg);
    perspective: 1000px;
    opacity:0;
}

.addToOrbit__left-image {
    animation:fold-in 3s forwards;
    
}

@keyframes fold-in {
    to {
        transform:rotateX(0deg);
        opacity:1;
        perspective:1000px;
    }
}


/*******
Portfolio
********
********/

.portfolio-home {
    display:grid;
    grid-template-columns:1fr 1fr;
    height:100vh;
    width:100vw;
    background-color:black;
    overflow-x: hidden;
    
}

.portfolio-home__left {
   display:flex;
   flex-direction: column;
   justify-content: center;
   gap:3rem;
   align-items: flex-start;
   padding:2.5rem;
   width:50vw;
   padding-left:7rem;
   
  
}


.portfolio-home__left h1 {
  font-weight: 800;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
  width:max-content;
  font-size:4.5vw;
  
}
.portfolio-home__introduction {
    display:flex;
    flex-direction: column;
    width:100%;
}

.portfolio-home__left h4 {
    color:white;
    font-family:monospace;
    font-size:1rem;
    font-weight:500;
    color:lightblue;
}
.portfolio-home__left h3 {
    color:lightblue;
    align-self:flex-end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.portfolio-home__right {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10rem;
    padding-bottom:15rem;
  
}
.portfolio-home__right__floating-text {
    position:absolute;
    bottom:8%;
    font-size:1.5rem;
    right:12%;
    display:flex;
    flex-direction: column-reverse;
}
.portfolio-home__right__floating-text p {
    align-self:flex-end;
}
.portfolio-home__left button {
    padding:.75rem 2.5rem;
    border-radius:0.25em;
    border:none;
    text-transform: uppercase;
    align-self: flex-end;
    color:white;
    background-color:transparent;
    border:0.2rem solid white;
    font-weight:700;
    transition:0.5s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.portfolio-home__left button:hover {
    background-color:white;
    color:black;
    transition:0.5s;
    cursor:pointer;
}
.portfolio-home__left-buttons {
    align-self:flex-end;
    gap:0.5rem;
    display:flex;
}
.top-nav__ul {
    display:flex;
    list-style:none;
    gap:8rem;
    width:100%;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight:600;
    justify-content: center;
    font-size:0.9rem;
}
.top-nav__ul li {
    transition:transform 0.5s;
}
.top-nav__ul li:hover {
    cursor:pointer;
    transform:scale(1.2);
    transition:transform 0.5s;
}
header svg {
    display:none;
}
.side-nav__ul {
    display:none;
} 
#portfolio__top-header {
    color:white;
    position:relative;
    height:10vh;
    background-color:black;
    z-index:1;
    padding-left:3.5rem;
}
.side-nav__ul {
    list-style:none;
    position:absolute;
    height:100vh;
    top:0;
    width:20vw;
    background-color:white;
    transform:translateX(-100%);
    transition: 1s;
    opacity:0;
    z-index:-1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top:10rem;
    padding-left:2rem;
    gap:5rem;
    
    
}

.side-nav__list {
    color:black;
}
.hamburger,
.line-one,
.line-two,
.line-three {
    z-index: 100;
    
}
.scroll {
     z-index:1; 
}


.addToNav {
    animation:slide-in 1s forwards;
    transition:0.5s;
    
}

#orbit__center-image {
    position:relative;
    display:grid;
    place-items: center;
}

#orbit__ul .orbit__li:hover p {
    opacity:1;
    animation-play-state: paused;

}
.top-nav__ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.25rem;
}


@keyframes slide-in {
    to {
        transform:translateX(0);
        opacity:1;
        transition:0.5s;
        
    }
}






